* {
  box-sizing: border-box;
  background: #edeef0;
}

body {
  color: #285473;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 - 15px;
  justify-content: center;
}

.item {
  padding: 30px 0px;
  text-align: center;
  width: calc(100% - 30px);
  margin: 15px;
  border-radius: 30px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.info {
  max-width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1.4px;
  text-align: center;
  padding: 20px;
  color: #3f7193;
}

h2 {
  font-size: 27px;
  line-height: 1.3;
  letter-spacing: 1.2px;
  color: #3f7193;
  padding: 10px 5px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 0.94;
  letter-spacing: 0.5px;
  text-align: left;
  color: #697f8e;
  padding: 5px;
}

p {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 1.2px;
  text-align: left;
  color: #697f8e;
  padding: 5px;
}

a {
  color: #285473;
}

ul li {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 1.2px;
  text-align: center;
  padding: 5px;
  list-style: none;
}

button:focus {
  outline: 0;
}

.articlerow {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  min-height: 250px;
  border-top: solid 1px #605360;
  border-bottom: solid 1px #605360;
}

.articlerow:last-child {
  margin-bottom: 20px;
  border-bottom: 0px;
}

.article {
  width: 66%;
}

.images {
  display: flex;
  width: 32%;
  align-items: center;
}

.img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

#rus, #science, #technology, #entertaiment {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.5px;
  text-align: center;
  color: #285473;
  background-color: transparent;
  border: 0px;
  width: calc(100% / 12 *3 - 30px);
  height: 35px;
  padding: 5px;
}

#rus:focus, #science:focus, #technology:focus, #entertaiment:focus,
#rus:hover, #science:hover, #technology:hover, #entertaiment:hover {
  font-size: 23px;
  cursor: pointer;
}

.article a {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 1.2px;
  color: #3f7193;
  padding: 10px 5px;
}

.article a:hover, .article a:focus {
  cursor: pointer;
}