* {
  box-sizing: border-box;
}

html {
  background: #484F60;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 - 15px;
  justify-content: center;
}

.item {
  padding: 50px 0px;
  text-align: center;
  background: #484F60;
  width: calc(100% - 30px);
  margin: 15px;
  border-radius: 30px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);     /* тень */
}

.header {
  background-color: #484F60;
  padding: 10px 10px;
  color: #e1e5ef;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.addBtn:hover {
  background-color: #bbb;
}

/* Удаляем все поял и отступы в списке */
ul {
  margin: 10px;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
}

/* Меняем цвет нечётных элементов списка чтобы они не сливались с чётными*/
ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

/* Зачёркиваем выполненное дело */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Добавляем галочку */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #484F60;
  color: #e1e5ef;
}

a {
  color: #e1e5ef;
}

a:visited {
  color: #b8bac1;
}





